{"swagger":"2.0","info":{"title":"App","description":"Description","version":"1.0.0"},"schemes":["http","https"],"host":"app.endpoints.my-first-app-123.cloud.goog","basePath":"/","paths":{"/journals":{"get":{"operationId":"get_all_journals","description":"Get all journals","tags":["Journal"],"responses":{"200":{"description":"Successful response. All journals are returned.","schema":{"type":"array","items":{"$ref":"#/definitions/Journal"}}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"post":{"operationId":"create_journal","description":"Create new journal","tags":["Journal"],"parameters":[{"name":"Journal","in":"body","required":true,"schema":{"$ref":"#/definitions/JournalWithoutId"}}],"responses":{"201":{"description":"Successful response. Journal is created","schema":{"$ref":"#/definitions/Journal"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"put":{"operationId":"update_journal","description":"Update journal","tags":["Journal"],"parameters":[{"name":"Journal","in":"body","required":true,"schema":{"$ref":"#/definitions/Journal"}}],"responses":{"201":{"description":"Successful response. Journal is updated","schema":{"$ref":"#/definitions/Journal"}},"404":{"description":"Journal not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}}},"/journals/{id}":{"get":{"operationId":"get_journal_by_id","description":"Get journal by id","tags":["Journal"],"parameters":[{"type":"string","name":"id","in":"path","required":true}],"responses":{"200":{"description":"Successful response. Journal is returned.","schema":{"$ref":"#/definitions/Journal"}},"404":{"description":"Journal not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"delete":{"operationId":"delete_journal_by_id","description":"Delete journal by id","tags":["Journal"],"parameters":[{"type":"string","name":"id","in":"path","required":true}],"responses":{"204":{"description":"Successful response. Journal is deleted.","schema":{"$ref":"#/definitions/NoContent"}},"404":{"description":"Journal not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}}},"/journals/grade/{grade}":{"get":{"operationId":"get_journal_by_grade","description":"Get journal by grade","tags":["Journal"],"parameters":[{"type":"number","name":"grade","in":"path","required":true}],"responses":{"200":{"description":"Successful response. Journal is returned.","schema":{"type":"array","items":{"$ref":"#/definitions/Journal"}}},"404":{"description":"Journal not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}}},"/journals/lesson/{lesson_id}":{"get":{"operationId":"get_journal_by_lesson_id","description":"Get journal by lesson_id","tags":["Journal"],"parameters":[{"type":"number","name":"lesson_id","in":"path","required":true}],"responses":{"200":{"description":"Successful response. Journal is returned.","schema":{"type":"array","items":{"$ref":"#/definitions/Journal"}}},"404":{"description":"Journal not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}}},"/journals/pupil/{pupil_id}":{"get":{"operationId":"get_journal_by_pupil_id","description":"Get journal by pupil_id","tags":["Journal"],"parameters":[{"type":"number","name":"pupil_id","in":"path","required":true}],"responses":{"200":{"description":"Successful response. Journal is returned.","schema":{"type":"array","items":{"$ref":"#/definitions/Journal"}}},"404":{"description":"Journal not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}}},"/lessons":{"get":{"operationId":"get_all_lessons","description":"Get all lessons","tags":["Lesson"],"responses":{"200":{"description":"Successful response. All lessons are returned.","schema":{"type":"array","items":{"$ref":"#/definitions/Lesson"}}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"post":{"operationId":"create_lesson","description":"Create new lesson","tags":["Lesson"],"parameters":[{"name":"Lesson","in":"body","required":true,"schema":{"$ref":"#/definitions/LessonWithoutId"}}],"responses":{"201":{"description":"Successful response. Lesson is created","schema":{"$ref":"#/definitions/Lesson"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"put":{"operationId":"update_lesson","description":"Update lesson","tags":["Lesson"],"parameters":[{"name":"Lesson","in":"body","required":true,"schema":{"$ref":"#/definitions/Lesson"}}],"responses":{"201":{"description":"Successful response. Lesson is updated","schema":{"$ref":"#/definitions/Lesson"}},"404":{"description":"Lesson not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}}},"/lessons/{id}":{"get":{"operationId":"get_lesson_by_id","description":"Get lesson by id","tags":["Lesson"],"parameters":[{"type":"string","name":"id","in":"path","required":true}],"responses":{"200":{"description":"Successful response. Lesson is returned.","schema":{"$ref":"#/definitions/Lesson"}},"404":{"description":"Lesson not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"delete":{"operationId":"delete_lesson_by_id","description":"Delete lesson by id","tags":["Lesson"],"parameters":[{"type":"string","name":"id","in":"path","required":true}],"responses":{"204":{"description":"Successful response. Lesson is deleted.","schema":{"$ref":"#/definitions/NoContent"}},"404":{"description":"Lesson not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}}},"/pupils":{"get":{"operationId":"get_all_pupils","description":"Get all pupils","tags":["Pupil"],"responses":{"200":{"description":"Successful response. All pupils are returned.","schema":{"type":"array","items":{"$ref":"#/definitions/Pupil"}}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"post":{"operationId":"create_pupil","description":"Create new pupil","tags":["Pupil"],"parameters":[{"name":"Pupil","in":"body","required":true,"schema":{"$ref":"#/definitions/PupilWithoutId"}}],"responses":{"201":{"description":"Successful response. Pupil is created","schema":{"$ref":"#/definitions/Pupil"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"put":{"operationId":"update_pupil","description":"Update pupil","tags":["Pupil"],"parameters":[{"name":"Pupil","in":"body","required":true,"schema":{"$ref":"#/definitions/Pupil"}}],"responses":{"201":{"description":"Successful response. Pupil is updated","schema":{"$ref":"#/definitions/Pupil"}},"404":{"description":"Pupil not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}}},"/pupils/{id}":{"get":{"operationId":"get_pupil_by_id","description":"Get pupil by id","tags":["Pupil"],"parameters":[{"type":"string","name":"id","in":"path","required":true}],"responses":{"200":{"description":"Successful response. Pupil is returned.","schema":{"$ref":"#/definitions/Pupil"}},"404":{"description":"Pupil not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"delete":{"operationId":"delete_pupil_by_id","description":"Delete pupil by id","tags":["Pupil"],"parameters":[{"type":"string","name":"id","in":"path","required":true}],"responses":{"204":{"description":"Successful response. Pupil is deleted.","schema":{"$ref":"#/definitions/NoContent"}},"404":{"description":"Pupil not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}}},"/teachers":{"get":{"operationId":"get_all_teachers","description":"Get all teachers","tags":["Teacher"],"responses":{"200":{"description":"Successful response. All teachers are returned.","schema":{"type":"array","items":{"$ref":"#/definitions/Teacher"}}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"post":{"operationId":"create_teacher","description":"Create new teacher","tags":["Teacher"],"parameters":[{"name":"Teacher","in":"body","required":true,"schema":{"$ref":"#/definitions/TeacherWithoutId"}}],"responses":{"201":{"description":"Successful response. Teacher is created","schema":{"$ref":"#/definitions/Teacher"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"put":{"operationId":"update_teacher","description":"Update teacher","tags":["Teacher"],"parameters":[{"name":"Teacher","in":"body","required":true,"schema":{"$ref":"#/definitions/Teacher"}}],"responses":{"201":{"description":"Successful response. Teacher is updated","schema":{"$ref":"#/definitions/Teacher"}},"404":{"description":"Teacher not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}}},"/teachers/{id}":{"get":{"operationId":"get_teacher_by_id","description":"Get teacher by id","tags":["Teacher"],"parameters":[{"type":"string","name":"id","in":"path","required":true}],"responses":{"200":{"description":"Successful response. Teacher is returned.","schema":{"$ref":"#/definitions/Teacher"}},"404":{"description":"Teacher not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}},"delete":{"operationId":"delete_teacher_by_id","description":"Delete teacher by id","tags":["Teacher"],"parameters":[{"type":"string","name":"id","in":"path","required":true}],"responses":{"204":{"description":"Successful response. Teacher is deleted.","schema":{"$ref":"#/definitions/NoContent"}},"404":{"description":"Teacher not found","schema":{"$ref":"#/definitions/NotFoundError"}},"500":{"description":"Unknown server error","schema":{"$ref":"#/definitions/UnknownServerError"}}}}}},"definitions":{"Error":{"type":"object","description":"Error messages","required":["code"],"properties":{"code":{"type":"integer","description":"Four-digits error code"},"message":{"type":"string","description":"Error description"}},"example":{"code":1000,"message":"Unknown error with API"}},"NoContent":{"type":"string","description":"Success no content response"},"NotFoundError":{"type":"object","description":"Not found error","required":["code"],"properties":{"code":{"type":"integer","description":"Four-digits error code"},"message":{"type":"string","description":"Error description"}}},"UnknownServerError":{"type":"object","description":"Unknown server error","required":["code"],"properties":{"code":{"type":"integer","description":"Four-digits error code"},"message":{"type":"string","description":"Error description"}}},"Journal":{"type":"object","description":"Journal object","required":["id","pupil_id","mark","lesson_id","grade","date_of_note","is_exam"],"properties":{"id":{"type":"number","description":"Id of the journal"},"pupil_id":{"type":"number","description":"Pupil of the note in journal"},"mark":{"type":"number","description":"Mark of the note in journal"},"lesson_id":{"type":"number","description":"Lesson of the note in journal"},"grade":{"type":"number","description":"Grade of the journal"},"date_of_note":{"type":"string","description":"Date of the note in journal"},"is_exam":{"type":"boolean","description":"Is the note of the exam?"}}},"JournalWithoutId":{"type":"object","description":"Journal object","required":["pupil_id","mark","lesson_id","grade","date_of_note","is_exam"],"properties":{"pupil_id":{"type":"number","description":"Pupil of the note in journal"},"mark":{"type":"number","description":"Mark of the note in journal"},"lesson_id":{"type":"number","description":"Lesson of the note in journal"},"grade":{"type":"number","description":"Grade of the journal"},"date_of_note":{"type":"string","description":"Date of the note in journal"},"is_exam":{"type":"boolean","description":"Is the note of the exam?"}}},"Lesson":{"type":"object","description":"Lesson object","required":["id","title","teacher_id"],"properties":{"id":{"type":"number","description":"Id of the lesson"},"title":{"type":"string","description":"Name of the lesson"},"teacher_id":{"type":"number","description":"Teacher of the lesson"}}},"LessonWithoutId":{"type":"object","description":"Lesson object","required":["title","teacher_id"],"properties":{"title":{"type":"string","description":"Name of the lesson"},"teacher_id":{"type":"number","description":"Teacher of the lesson"}}},"Pupil":{"type":"object","description":"Pupil object","required":["id","first_name","last_name","age","grade"],"properties":{"id":{"type":"number","description":"Id of the pupil"},"first_name":{"type":"string","description":"First name of the pupil"},"last_name":{"type":"string","description":"Last name of the pupil"},"age":{"type":"number","description":"Age of the pupil"},"grade":{"type":"number","description":"Grade of the pupil"}}},"PupilWithoutId":{"type":"object","description":"Pupil object","required":["first_name","last_name","age","grade"],"properties":{"first_name":{"type":"string","description":"First name of the pupil"},"last_name":{"type":"string","description":"Last name of the pupil"},"age":{"type":"number","description":"Age of the pupil"},"grade":{"type":"number","description":"Grade of the pupil"}}},"Teacher":{"type":"object","description":"Teacher object","required":["id","first_name","last_name"],"properties":{"id":{"type":"number","description":"Id of the teacher"},"first_name":{"type":"string","description":"First name of the teacher"},"last_name":{"type":"string","description":"Last name of the teacher"}}},"TeacherWithoutId":{"type":"object","description":"Teacher object","required":["first_name","last_name"],"properties":{"first_name":{"type":"string","description":"First name of the teacher"},"last_name":{"type":"string","description":"Last name of the teacher"}}}}}